/* header */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
* a{
    text-decoration: none;
}
* li{
    list-style: none;
}
.container{
    
    min-height: 120vh;
    padding-bottom: 50px;
    margin: 0 auto;
    position: relative;
}
.bg{
    width: 100%;
    height: 100%;
    position: relative;
}
.bg::after{
    content: "";
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://i.pinimg.com/564x/de/ef/9c/deef9c170b0d6433078e8218b6b9d1a2.jpg');
    z-index: -1;
    background-size: cover;
    background-position: center;
    filter: brightness(60%);
}
.menu{
    position: relative;
    width: 85%;
    height: 15vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    font-size: 2rem;
    color: white;
}
.menu ul{
    display: flex;
    align-items: center;
}
.menu ul li{
    padding: 0 25px;
}
.menu ul li a{
    
    color: white;
    font-size: 1rem;
    
}

/* content */
.content{
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
} 

.content .header .grid-card{
    width: 50%;
    position: relative;
    
}
.content .header{
    color: white;
    
}
.content .header h3{
    font-size: 2rem;
    letter-spacing: 2px;
}
.content .header h3 i{
    color: yellow;
}
.content .header h1{
    font-size: 5rem;
}
.content .header p{
    opacity: .6;
}

.grid-card{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
}
.grid-card .box{
    width: 100%;
    height: 230px;
    /* background: red; */
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    transition: 0.4%;
    cursor: pointer;
}
.bg1{
    background-image: url('https://scontent.fbkk2-4.fna.fbcdn.net/v/t1.15752-9/366766345_1347027005907740_1173866026902753162_n.png?_nc_cat=105&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeGoXUEVqlq8Y0nEIDTeKsnOoinGHvrQ5w2iKcYe-tDnDeTdjpUbg8cdKLulQCUh3GkxgZPxoZ_O5JoJsjaJOltI&_nc_ohc=x3KMnPriC-wAX9fHLam&_nc_ht=scontent.fbkk2-4.fna&oh=03_AdTbEZgGb_t_gxlCjSuyyEsL_3oGX1QXhU4wvQ5CsR2YJA&oe=65048009');
}
.bg2{
    background-image: url('https://scontent.fbkk2-8.fna.fbcdn.net/v/t1.15752-9/366032303_785438293586982_6330860585095691900_n.png?_nc_cat=109&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeFDQY00wuMCyJa5JoXo_VwHyxZGr_lmaurLFkav-WZq6tmwgD0nwQ5plqxBKegbc_v_q_eqtkUZx4Qp_2XmQZrj&_nc_ohc=oHk3jzKLfoEAX_n9rFc&_nc_ht=scontent.fbkk2-8.fna&oh=03_AdRjezA7w38SnsAyCrGX5yNLMcggtLiHdsfzVPXUp16Byg&oe=65046253');
}
.bg3{
    background-image: url('https://scontent.fbkk2-3.fna.fbcdn.net/v/t1.15752-9/365880728_711084260829599_1561528948365045000_n.png?_nc_cat=107&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeGClt2SCkh2M6Q3VXDww_cPVxAiuVkamvRXECK5WRqa9CHtY6ZwLuNViCCmQoNYw2UNHegbJP6831-PI6VpWbiy&_nc_ohc=oZrPW-9gJScAX-Pr-4D&_nc_ht=scontent.fbkk2-3.fna&oh=03_AdT7GDbDfDqLo1rMiw_m1iIbusXd3xH2LG7kNlM0M8fCIw&oe=65047DCA');
}
.bg4{
    background-image: url('https://scontent.fbkk2-3.fna.fbcdn.net/v/t1.15752-9/366032299_3558935461057918_6924452494822460918_n.png?_nc_cat=107&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeH0TOlGjsgDquQSWPdH3OaCyU_M19UBH0_JT8zX1QEfT2wY5peiKfVlLiGKykpGuLvtisBk_8nSvMY4DN-dml4o&_nc_ohc=jCINRAEx6NwAX9EOvbF&_nc_ht=scontent.fbkk2-3.fna&oh=03_AdTldp3g__5wE4KiuHbg2rplcgHC9cZb0U2SATftMnsp0A&oe=65047389');
}

 .content .box h2{
    color: white;
    position: relative;
    left: auto;
    bottom: auto;
} 

.content .box:hover{
    transform: translateY(-15px);
}
/* ไม่มีอะไร */
/* .bg{ */
    /* background-image: url(); */

/* ง่วง */
/* test */